streamlit
google-genai
google-cloud-firestore
firebase-admin
loguru
pydantic
pydantic-settings
pyyaml
python-dotenv
requests

# Google Drive API & OAuth Authentication
google-api-python-client
google-auth-httplib2
google-auth-oauthlib